/*Selectors*/

/* --- Element selector --- */
/* ЗАДАВАТЬ КЛЮЧЕВЫЕ СВОЙСТВА В ОСНОВНОЙ ТЕГ 
- тип шрифта;
- размер шрифта. */
/*ИСПОЛЬЗОВАТЬ ПО МАКСИМУМУ НАСЛЕДИЕ ТЕГОВ*/
body {
    background-color: black;
    font-family: Raleway, sans-serif;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}


h1, h2, h3, hr, ul, p {
    padding: 0;
    margin: 0;
}

.g_button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(211, 211, 211);
    transition: background 0.4s ease;
}
.g_button:active {
    background-color: rgb(0, 0, 0);
    color: grey;
}

.o_button:hover {
    background-color: #ff6f00;
    transition: background 0.4s ease;
}

.o_button:active {
    background-color: #8d3d00;
    color: grey;
}

/*<!--Navbar-->*/

.header_background {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: 64px;
    max-width: 1400px;
}

.header_section_logo {
    display: flex;
    flex-wrap: wrap;    
    width: 79px;
    height: 27px;
    margin-right: auto;
    margin-left: 10%;
}
.header_section_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 10%;
    width: 24%;
    gap: 5px;
}

header img {
    height: 27px;
    width: 79px;
}

nav a {
    display: block;
    font-size: 14px;
    line-height: 27px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    font-weight: bold;

    transform: scale(1.1);
}
nav a:active {
    color: rgb(66, 66, 66);
}


/*<!--Header Logo-->*/

.logo_background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    background-image: url(../img/background_top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 648px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7.3%;
    padding-bottom: 5%;
    margin: 0 auto
}

.logo_background img {
    height: 60px;
    width: 175px;
    margin-bottom: 32px;
}

.logo_background h2 {
    font-weight: normal;
}

.logo_background hr {
    height: 2px;
    width: 100px;
    border: none;
    color: white;
    background-color: white;
    margin: 32px 0;
}

.logo_background p {
    font-size: 16px;
    line-height: 23px;
    font-weight: lighter;
}

.logo_background a {
    margin: 42px 0;
}

.logo_background a, .custom_section a  {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid white;
}

.logo_background_form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 360px;
    max-height: 368px;
    border-radius: 5px;
    margin-top: 3.4%;
}

.logo_background_form h3{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    background-color: #DFDFDF;
    white-space: pre; 
}

.logo_background_form h3 span{
    color: #FF8B38;
}

.logo_background_form button {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    background-color: #FF9B51;
    border: transparent;
    cursor:pointer;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFF;
}

#get_start input[type=text], 
#get_start input[type=email],
#get_start input[type=password] {
    background-color: white;
    border: transparent;
    border-bottom: 1px solid #DFDFDF;
    width: 276px;
    height: 32px;
    padding-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;     
}

.logo_background_form input::placeholder {
    color: #BDBDBD;
    font-size: 14px;
    line-height: 16px;
    padding-left: 5px;
}

/*<!--Brandbar-->*/

.social_media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10%;
    min-height: 105px;
}

.social_media h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.social_media p {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #86878B;
}

.social_media img{
    height: 40px;
    width: 40px;
}

.social_media_section{
    display: flex;
    justify-content: space-between;
    width: 35%;
    min-height: 35px;
    gap: 5px;
}

.social_media_section img {
    transition: all 0.4s ease-in-out;
}

.social_media_section img:hover {
    transform: scale(1.2);
}

/*<!--Features-->*/

.features_section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 598px;
    padding: 131px 10%;
    background-color: #F5F5F5;
    box-shadow: 0px -1px 13px rgba(0, 0, 0, 0.25);
}

.features_section_middle {
    box-sizing: border-box;
}

.features_section_tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 10px;
}

.features_section_tab div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    width: 111px;
    height: 111px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.features_section_tab a {
    text-decoration: none;
}

.features_section_tab_c {
    border-radius: 4px;
}

.features_section_tab div:hover{
    background-color: #FF9B51;
}

.features_section_middle p {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin: 42px 0;
}

.features_section_middle a {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 134px;
    height: 42px;
    border-radius: 4px;
    background-color: #FA8F21;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.features_section_img {
    padding-top: 25px;
}

.features_section img {
    width: 100%;
    max-width: 320px;
    max-height: 253px;
}

/*<!--Our Process-->*/

.process_article {
    box-sizing: border-box;
    text-align: center;
    min-height: 587px;
    background-color: #ffffff;
    padding: 102px 10% 0;
}

.process_article hr {
    display: inline-block;
    height: 2px;
    width: 64px;
    border: none;
    margin: 22px auto;
    background-color: #FF8B38;
}

.process_article p {
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 66px;
}

.process_article_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.process_article_features div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    max-width: 345px;
    min-height: 197px;
    margin-bottom: ;
}

.process_article_features img {
    width: 70px;
    height: 70px;
    margin-bottom: 26px;
}

.process_article_features h3 {
    margin-bottom: 16px;
}

.process_article_features p {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

/*<!--Pricing-->*/

.pricing_section {
    box-sizing: border-box;
    background-color: #F5F5F5;
    min-height: 900px;
    padding: 100px 10% 0;
    text-align: center;
}

.pricing_section hr {
    display: inline-block;
    height: 2px;
    width: 64px;
    border: none;
    background-color: #FF8B38;
    margin: 22px auto;
}

.pricing_section > p {
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 66px;
}

.pricing_section_option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.pricing_section_option div {
    width: 100%;
    max-width: 330px;
    margin-bottom: 10px;
}

.pricing_section_option ul li {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    color: #86878B;
    text-transform: uppercase;
    height: 40px;
    background-color: #FFFFFF;
    width: 100%;
    margin: 1px 0;
}

.pricing_section_option p {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #333333;
    margin-top: 1px;
}

.pricing_section_option b {
    display: inherit;
    align-items: inherit;
    height: 59px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px auto;
}

.pricing_section_option data {
    display: inherit;
    align-items: inherit;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
}

.pricing_section_option em {
    display: inherit;
    align-items: inherit;
    height: 50px;
    font-size: 14px;
    font-weight:lighter;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

p.pricing_section_orange {
    display: flex;
    align-items: center;
    background-color: #FF8B38;
    font-weight: bold;
    line-height: 40px;
    max-height: 40px;
    min-height: 5px;
    margin-top: 0;
}

/*<!--Testimonials-->*/

.testimonials_section {
    box-sizing: border-box;
    min-height: 594px;
    background-color: #ffffff;
    padding: 73px 10% 0;
    text-align: center;
}

.testimonials_section hr {
    display: inline-block;
    height: 2px;
    width: 64px;
    border: none;
    background-color: #FF8B38;
    margin: 22px auto;
}

.testimonials_section p {
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 85px;
}

.testimonials_section_fb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.testimonials_section_about{
    width: 290px;
    min-height: 225px;
}

.testimonials_section_text{
    padding: 20px 10px;
    box-sizing: border-box;
    background-image: url(../img/disclamer.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: left;
    font-size: 14px;
    color: #86878B;
    width: 100%;
    min-height: 144px;
}

.testimonials_section_avatar {
    font-size: 14px;
    padding: 25px 85px;
    position: relative;
}

.testimonials_section_avatar::before {
    left: 0;
    top: 10px;
    position: absolute;
    content: url(../img/avatar.png);
}

/*<!--Custom Sections-->*/

.custom_section {
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    background:
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(../img/background_down.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    min-height: 297px;
    background-color: #F5F5F5;
    padding: 54px 10%;
    text-align: center;
}

.custom_section hr {
    display: inline-block;
    height: 2px;
    width: 64px;
    border: transparent;
    background-color: white;
    margin: 22px 0;
}

.custom_section a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 54;
}

/*<!--Contact Us-->*/

.contact_section {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 73px 10% 105px;
    min-height: 638px;
    text-align: center;
}

.contact_section hr {
    display: inline-block;
    height: 2px;
    width: 64px;
    border: none;
    background-color: #FF8B38;
    margin: 22px auto;
}

.contact_section > p {
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    margin-bottom: 80px;
}

.contact_section_form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 186px;
    gap: 56px;
}

#contact input[type=text], 
#contact input[type=email] {
    background-color: white;
    border: transparent;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    height: 60px;
}

.contact_section_form input::placeholder,
.contact_section_form textarea::placeholder {
    font-family: inherit;
    color: #BDBDBD;
    font-size: 14px;
    line-height: 16px;
    padding-left: 5px;
}

.contact_textarea {
    width: 100%;
    max-width: 500px;
}

.contact_section_form textarea{
    padding-top: 25px;
    font-family: inherit;
    border: transparent;
    border-bottom: 1px solid #DFDFDF;
    resize: none;
    height: 160px;
    width: 100%;
}

.contact_section_form_button {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}

.contact_section_form_button button {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 163px;
    background-color: #FF9B51;
    border: transparent;
    cursor:pointer;
    font-size: 15px;
    font-weight: bolder;
    color: #FFFFFF;
}


/*<!--Footer-->*/

footer {
    text-align: center;
    min-height: 124px;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 362px;
    margin: 0 auto;
    padding-top: 25px;
}

footer p {
    margin-top: 25px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

footer a img {
    width: 32px;
    height: 32px;
    transition: all 0.5s ease-in-out;
}

footer a img:hover {
    transform: scale(1.4);
}





/* --- Universal selector - will use for all elements --- 

    * {
    ... 
    }

*/
/* --- Class selector: class="nav_bar" --- 

    .nav_bar {
    ...
    }

*/
/* --- Identificator selector: id="sidebar" --- 

    #sidebar {
    ...
    }

*/
/* --- Child selector ---

    ul li {
    ...
    }

    ul li img {
    ...
    }

    p.first a {     (first - is a class in teg)
    ...
    }

*/
/* --- Groupe of selectors --- 

    .menu,
    #bold,
    .menu p {
    ...
    }

*/
/* --- Rule - !important --- 

    span {
        font-weight: bold !important;
    }

*/







/* .feature {

}

.feature h3 {

}

.feature img {

}

.feature p {

}

.classname:not(:first-child) {

}

.list-class li {

}

.list-class li:first-child {

} */

