#sl_tp{
  position: fixed;
  top:0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f60;
  width:100%;
  height:40px;
  box-shadow:0 0 5px #777;
  text-align:center;
  color:#fff;
  }
   
  #sl_in {
  position: fixed;
  min-height:200px;
  top:-200px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #313131;
  width:100%;
  padding:10px;
  box-sizing:padding-box;
  }
  #sl_tp:hover {
  top: 200px;
  }
  #sl_tp:hover #sl_in {
  top:0;
  }




/*
input[name='tab'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}
input[name='tab']:after {
  font-size: 18px;
  background-color: #333333;
  cursor: grab;
  display: inline-block;
  text-align: center;
  width: 112px;
  height: 112px;
  content: attr(text);
  border-radius: 4px;
  color: black;
  transition: box-shadow 0.5s, color 1s;
}


input[name='tab']:checked:after {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
  background-color: #FF9B51;
}

*/